/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #575757;
}
a{
    text-decoration: none;
    color: #575757;
}
.cover-img{
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    /* Tablet breakpoints */
    
    .cover-img{
        height: 300px;
    }
}
@media only screen and (min-width: 901px) {
    .cover-img{
        height: 400px;
    }
}
.container{
    margin: 0px 5vw ;
}